/* * *  PC Thiet bi lon hon (min-width: 1024.02px) * * */
@media (min-width: 1024.02px) {
    .container {
        width: calc(100% - 72px * 2);
    }
}

/* * * Thiet bi Table & Mobile: @media screen and (max-width: 991px) * * */
@media screen and (max-width: 991px) {
    /* * * Start Header * * *  */
    .header__btn,
    .header__list {
        display: none;
    }
    
    .header__btn-menu {
        background: #2b2b2b;
        display: block;
        border: none;
    }

    .toggle-menu {
        display: block;
    }

    .section__btn {
        margin-top: 20px;
    }

    .hero__content {
        width: 50%;
    }

    .hero__content h1 {
        font-size: 3.8rem;
        line-height: 120%;
    }

    .hero__content p {
        font-size: 1.7rem;
        line-height: 140%;
        margin-bottom: 20px;
    }

    .hero__stats {
        margin-top: 20px;
        gap: 30px
        ;
    }

    .hero__stats strong {
        font-size: 2rem;
        line-height: 160%;
    }

    .hero__stats span {
        font-size: 1.4rem;
        line-height: 140%;
    }
    
    .trending__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .trending__grid .collection-card:last-child {
        display: none;
    }

    .creators__grid {
        margin-top: 40px;
        grid-template-columns: repeat(2, 1fr);
    }

    .creator-card {
        display: flex;
        gap: 20px;
        align-items: center;
    }

    
}
/*  * * Thiet bi rieng Table: @media screen and (min-width: 768px) and (max-width: 991px) * * */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .container {
        max-width: 620px;
        padding: 72px 0;
    }
}
/* * * Thiet bi Mobile: @media screen and (max-width: 767px) * * */
@media screen and (max-width: 767px) {
    .container {
        max-width: 100%;
        padding: 40px 30px;
    }
    .header {
        padding: 40px 30px;
    }
}